body{
	background-image: url("Politicas/fondo.jpg");
	text-align: center;

}
p{
	font-family: Open Sans;
	font-size: 25px;
}

button{
	padding: 10px;
	margin: 10px;
	margin-bottom: 10px;
}
select{
	font-family: Open Sans;
	font-size: 12pt;
	line-height: 2.6em;
	margin: 0;
	padding: 0;
	width: 30%;
	height: 35px;
	border: none;
}
input{
	font-family: Open Sans;
	font-size: 12pt;
	line-height: 2.6em;
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
}

form{
	margin-left: 30%;
	top:40%;
	width: 500px;
	margin: o auto;
	background: beige;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 20px;

}