

body{
	background-image: url("hola.jpg");
	text-align: center;
}
h1{
	color: black;

}

p{
	font-family: Open Sans;
	font-size: 20px;
}


button{
	padding: 10px;
	margin: 10px;
	margin-bottom: 10px;
<<<<<<< HEAD
=======
}
input{
	font-family: Open Sans;
	font-size: 12pt;
	line-height: 2.6em;
	margin: 0;
	padding: 0;
	
	border: none;
}
form{
	margin-left: 30%;
	top:40%;
	width: 500px;
	margin: o auto;
	background: beige;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 20px;

}


textarea{
	font-family: Open Sans;
	font-size: 12pt;
	line-height: 2.6em;
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
>>>>>>> 03be0196f2cbfe0729c3e8853396e9c387a80487
}