body{
   background-image: url("fondo.jpg");

  color:white;
  text-align:center;
  font-family:Open Sans;
  font-size:10pt;
}



input{
  font-family:Open Sans;
  font-size:12pt;
  line-height:2.6em;
  height:2.6em;
  margin:0;
  padding:0;
  width:100%;
  border: none;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;

}

form{
  top: 20%;
  width:500px;
  margin:0 auto;
  background:white;
  border-radius:10px;
  margin-bottom:20px;
  padding:20px;
}


h2{

color: black;

font-family: AR JULIAN;
}

p{
  color:black;
  font-family: Cooper Black;
}